
@{
    ViewBag.Title = "View";
}

<h2>Treatment</h2>


<table>
    <tr>
        <th>Type</th>
        <th>Time</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Protein</th>
        <th>carp</th>
        <th>Fat</th>
        <th>Total Cals</th>
    </tr>
    <tr>
        <td>Food</td>
        <td>BreakFast</td>
        <td>Eggs</td>
        <td>2</td>
        <td>20</td>
        <td>50</td>
        <td>120</td>
        <td>500</td>
       
    </tr>
    <tr>
        <td>Food</td>
        <td>snack</td>
        <td>Milk</td>
        <td>1</td>
        <td>30</td>
        <td>150</td>
        <td>30</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Supplement</td>
        <td>Dinner</td>
        <td>Milk</td>
        <td>xxx</td>
        <td>3</td>
        <td>30</td>
        <td>30</td>
        <td>12</td>
    </tr>
    
</table>
